.howItWork{
    padding: 160px 15% 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.work-text span{
    font-size: var(--second-title-text);
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 7px;
}
.work-text h2{
    font-size: var(--header-text);
    line-height: 40px;
    margin-bottom: 26px;
}
.work-text p{
    font-size: var(--body-text);
    color: var(--text-light);
    text-align: center;
    line-height: 27px;
}

.work-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features img{
    width: 150px;
    height: 150px;
    margin-bottom: 24px;
}
.features h2{
    font-size: var(--title-text);
    line-height: 35px;
    margin-bottom: 15px;
}
.features p{
    font-size: var(--headline-text);
    line-height: 25px;
    text-align: center;
    color: var(--text-light);
}
