*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body{
  background: var(--bg-color);
  overflow-x: hidden;
  color: var(--text-color);
}

:root{
  --primary-color: #FFCB45;
  --secondary-color: #FFAC4B;
  --text-color: #1D1D1D;
  --text-light: #383747;
  --bg-color: #fff;
  --light-bg-color: #FFF9EA;
  --bg-comment: #F1F1F1;
  --header-text: 32px;
  --headline-text: 20px;
  --body-text: 18px;
  --button-text: 14px;
  --title-text: 28px;
  --second-title-text: 22px;
  --icon-size: 24px;

}



/*  */